<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
      

        <!-- Single statement block -->
        @{ var myMessage = "Hello World"; }

        <!-- Inline expression or variable -->
        <p>The value of myMessage is: @myMessage</p>

        <!--	Multi-statement block -->
        @{
            var greeting = "Welcome to our site!";
            var weekDay = DateTime.Now.DayOfWeek;
            var month = DateTime.Now.Month;
            var dayOfYear = DateTime.Now.DayOfYear;
            var hour = DateTime.Now.Hour;
            var minut = DateTime.Now.Minute;
            var second = DateTime.Now.Second;
            var greetingMessage = greeting + " Here in Huston it is: " + weekDay + ", month: " + month + ", hour: " + hour + ":" + minut + ":" + second;
        }

        <p id="wwrite">The greeting is: @greetingMessage</p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <section>
        <article>
            <input id="" type="button" value="zapytaj" />
        </article>
        <article id="to_co_przyszlo">

        </article>
        
    </section>
    
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>


        $("input").click(function () {
            $.get("http://asystent-unijny.hostingasp.pl/Days/DatabaseCount",
                null,
                function (data) {
                    alert(data.data);
                    
                }
                )
            

        })
        var times = 200;
        function repeat(fn, times) {
            for (var i = 0; i < times; i++) {
                fn();
                
            }
        }

        function fn() {
            var dt = new Date($.now());
            $("#wwrite").text("The greeting is: " + dt.getSeconds());
            document.write("czas");
            
        }

        $(document).ready(repeat(fn, times));
    </script>

</body>
</html>
